/* @theme a4 */
/* @size A4 210mm 297mm */

@import 'default';

sectionã€€{
	justify-content: start;
  	font-size: 11px;
  	width: 210mm;
  	height: 297mm;
  	background-color: white;
  	padding-top:40px;
 	padding-bottom:30px;
  	padding-left:30px;
  	padding-right:40px;
}

p{
	margin-block: 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-top: 0px;
	padding-bottom: 0px;
}

header,
footer {
  	position: absolute;
  	left: 10px;
  	right: 10px;
  	height: 10px;
  	font-size: 11px;
}

header {
  	top: 10px;
}

footer {
  	bottom: 10px;
}
