/* @theme a4 */
/* @size A4 210mm 297mm */

@import 'default';

section{
	justify-content: start;
  	font-size: 11px;
  	width: 210mm;
  	height: 297mm;
  	background-color: white;
  	padding-top:40px;
 	padding-bottom:30px;
  	padding-left:30px;
  	padding-right:40px;
}

hr {
	height: 0;
	padding-top: 0;
}

header,
footer {
  	position: absolute;
  	left: 10px;
  	right: 10px;
  	height: 10px;
  	font-size: 11px;
}

header {
  	top: 10px;
}

footer {
  	bottom: 10px;
}
