/* @theme a4repo */

@import 'default';

section
{
  width: 210mm;
  height: 297mm;
  justify-content: start;
  font-size: 15px;
  border: 1px solid black; /* 外周の罫線 */
}

header,
footer {
  position: absolute;
  left: 50px;
  right: 50px;
  height: 20px;
}

header {
  top: 30px;
}

footer {
  bottom: 30px;
}
