/* @theme a4repo */

@import 'default';

section
{
  width: 210mm;
  height: 297mm;
  justify-content: start;
  font-size: 11px;
  padding: 40px;
  border: 1px solid black;
}

section.a
{
  width: 210mm;
  height: 297mm;
  justify-content: start;
  font-size: 20px;
  padding: 40px;
  box-sizing:border-box;
  border: 1px solid black;
}

section.b
{
  width: 210mm;
  height: 297mm;
  justify-content: start;
  font-size: 30px;
  padding: 40px;
  box-sizing:border-box;
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
}

header,
footer {
  position: absolute;
  left: 10px;
  right: 10px;
  height: 10px;
  font-size: 11px;
}

header {
  top: 10px;
}

footer {
  bottom: 10px;
}
